* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    color: white !important;
}

::-webkit-scrollbar {
    display: none;
}


/* HEADER STARTS */

.nav-bar-custom {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

.nav-item {
    align-self: center;
    
}

.navbar-div-custom {
    padding-right:90px;
}

.navbar-nav {
    max-height: 60px;
}

.navbar-brand-custom {
    position: relative;
    top: -40px;
}

/* HEADER ENDS */

/* HOME PAGE */

.landing {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/small_house_with_key_home.jpg');
    filter: brightness(40%);
    background-position: right 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-page-custom {
    position: absolute;
    top: 180px;
}

form{
    height:70px;
    width: 600px;
}

#search-input
{
    height:100%;
    width: 100%;
    font-size:14pt;
}



.home-h1-text{
    color: rgb(255,242,0);
}

.search-bg {
    background-color: transparent !important;
    border-color: rgb(255,242,0)!important;
    color: rgb(255,242,0)!important;
}

.search-bg:hover {
    background-color: rgba(255, 242, 0, 0.824)!important;
    color: white !important;
    
}

/* Filter Section  */

.filter-search {
    background-color: rgb(255,242,0);
}

.filter-con {
    background-color: white;
    color: black;
}

#p2 {
    color: rgb(255,242,0) !important;
}

#disabled-option {
    color: grey;
}

.filter-con-main {
    position: relative;
    top: 100px;
    background-color: rgba(255, 157, 0, 0.73);
    min-height: 60%;
    
}




